.box{
    margin:0px;
    padding: 0px;
    margin-top:0px;
    border:2px solid rgb(212, 203, 203);
    border-radius:25px;
    width:1500px;
    height:100px;
    background-color: rgb(251, 231, 234);
    position:fixed;
     top: 0;
   overflow: hidden;
}
.img{
    background-image:url("./Assests/girl1.jpeg");
    width:1000px;
    height:9500px;
   
    margin-left:100px;
} 
.head-item{
    display:flex;
    gap:25px;
    color:wheat;
    padding-top: 0;
    margin: 0;
   padding: 0;
  

}

.head-item li{
    list-style: none;
    font-size:20px;
    margin-top: 25px;

}
.head-item a{
     text-decoration: none;
     color: #92847a;
    letter-spacing :0.1em;
    transition: 5s;
}
.head-item a:hover{
  letter-spacing: 0;
  color:#f9f9f9;
}
.head-item li:hover{
    color:antiquewhite;
}
.head-container{
    margin-left: 1000px;
    margin-top:15px;
    display:flex;
    align-items: center;
    position:fixed
}

.box1{
    margin-left:300px;
    margin-top:150px;
    border:2px solid rgb(212, 203, 203);
    border-radius:25px;
    width:900px;
    height:500px;
    box-shadow:0px 4px 18px rgba(0,0,0,0.7); 
    background-color: rgb(247, 235, 235);

}

.box1:hover{
     transition:transfor 0.3 ease;
    transform: translateY(-5px);
}
.box2{
    margin-left:300px;
    margin-top:70px;
     border:2px solid rgb(212, 203, 203);
    border-radius:25px;
      width:900px;
    height:500px;
   box-shadow:0px 4px 18px rgba(0,0,0,0.7); 
    background-color: rgb(247, 235, 235);
}
.box2:hover{
     transition:transfor 0.3 ease;
  transform: translateY(-5px);
}
.box3{
    margin-left:300px;
    margin-top:70px;
     border:2px solid rgb(212, 203, 203);
    border-radius:25px;
   width:900px;
    height:500px;
    box-shadow:0px 4px 18px rgba(0,0,0,0.7); 
     background-color: rgb(247, 235, 235);
   
}
.box3:hover{
     transition:transfor 0.3 ease;
   transform: translateY(-5px);
}
.box4{
    margin-left:300px;
     margin-top:70px;
     border:2px solid rgb(212, 203, 203);
    border-radius:25px;
    width:900px;
    height:500px;
    box-shadow:0px 4px 18px rgba(0,0,0,0.7); 
     background-color: rgb(247, 235, 235);
}
.box4:hover{
     transition:transfor 0.3 ease;
   transform: translateY(-5px);
}
.box5{
    margin-left:300px;
     margin-top:70px;
     border:2px solid rgb(212, 203, 203);
    border-radius:25px;
   width:900px;
    height:500px;
   
    box-shadow:0px 4px 18px rgba(0,0,0,0.7); 
     background-color: rgb(247, 235, 235);

}
.box5:hover{
     transition:transfor 0.3 ease;
  transform: translateY(-5px);
}

.photo{
   margin-right: 60px;
   margin-bottom: 300px;
  width:400px;
  height:350px;
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
.box2 h1{
    text-align: center;
    font-size: larger;
}
.box2 p{
    padding-left: 50px;
    padding-right: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: medium;
}
.box1 h1{
    text-align: center;
    font-size: larger;
}

.box3 h1{
    text-align: center;
    font-size: larger;
}
.box4 h1{
    text-align: center;
    font-size: larger;
}
.box5 h1{
    text-align: center;
    font-size: larger;
}

img{
    width:100px;
    height:100px;
}

.foot{
 margin:0px;
    padding: 0px;
    margin-top:0px;
     border:2px solid rgb(212, 203, 203);
    border-radius:25px;
    width:1500px;
    height:100px;
    background-color: rgb(251, 231, 234);
    
}
.box1 h2{
    text-align:left;
    padding-left: 100px;
    padding-top: 150px;


}
.boxes{
    display: flex;
    flex-direction: row;
}
.boxi, .boxj, .boxk {
    border: 2px solid rgb(212, 203, 203);
    width: 250px;
    height: 370px;
    display: inline-block; 
     border-radius:25px;
     margin-top: opx;
    margin-right: 20px;    margin-left:22px;
}
.boxic,.boxjc,.boxkc{
     border: 2px solid rgb(212, 203, 203);
    width: 230px;
    height: 150px;
     border-radius:25px;
     margin-top:5px;
      margin-left:9px;
}
body{
    background-color:rgb(191, 235, 220);
}
.head3{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    gap:120px;
}

.boxi,.boxj,.boxk p{
    
    text-align: center;
    
}

.Home{
     display: flex;
    flex-direction: row;
    margin-left: 35px;
    gap:120px;
}
.contp{
    text-align: center;
}

.contact-form{
    display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto 40px;
}
.box5 form{
    display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto 40px;
}
.social-links a{
    text-decoration: none;
    gap:15px;
    margin-left:160px;
}
.box4 h3{
   text-align:center;
}

/*.skills-intro {
  font-size: 1.2rem;
  color: #555555;
  margin-bottom: 40px;
}*/

.skills-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 0 20px;
  justify-content: center;

}
.skill-card {
  background-color: #f5f5f5;
  width: 350px;
  padding: 20px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  align-items: center;
}

.resume-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #f5f5f5;
  color:  #333;
  font-weight: 600;
  margin-left: 400px;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.boxic img,.boxjc img,.boxkc img{
     width: 230px;
    height: 150px;
     border-radius:25px;
}
.about-section{
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 100px;
  margin-top:75px;
}

.profile-pic{
  width: 170px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  
}

.about-text{
  max-width: 600px;
  font-size: 20px;
 line-height: 1.8;
  word-spacing: 4px;
}

.home-section{
  display: flex;
   flex-direction: row-reverse;
  align-items: center;
  gap: 40px;
  margin-left: 100px;
  margin-top:15px;
}

.home-text{
  max-width: 600px;
  font-size: 20px;
 line-height: 1.8;
  word-spacing: 4px;
    margin-bottom: 300px;
}
